<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="game.title" placeholder="title" class="form-control" autofocus>
                </div>
                <br>
                <div class="form-group">
                    <textarea type="text" name="description" [(ngModel)]="game.description" placeholder="description" rows="5"
                        class="form-control"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <input type="url" name="image" placeholder="image(url)" [(ngModel)]="game.image" class="form-control">
                </div>
                <br>
                <button class="btn btn-success btn-block" (click)="saveNewGame()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <h1>preview</h1>
    <div class="card card-body text-center">
        <img [src]="game.image == '' ? '/assets/notfound.png' : game.image" class="card-img-top">
        <h3>{{game.id}}. {{game.title == '' ? 'GAME TITLE' : game.title}}</h3>
        <p>{{game.description == '' ? 'DESCRIPTION' : game.description}}</p>
    </div>
</div>